body {
    margin: 0;
    overflow: hidden; /* Prevent body scrollbars */
}

#viewport {
    width: 100vw;
    height: 100vh;
    overflow: hidden; /* Enable scrollbars on the viewport */
    position: relative; /* Needed for canvas positioning */
}

#gridCanvas {
    position: absolute;
    top: 0;
    left: 0;
    /* The following is the crucial change */
    margin: auto; /* Center horizontally and vertically */
    transform: translate(0, 0); /* Reset transform */
    cursor: grab;
}

#gridCanvas.panning{
    cursor: grabbing; /* Cursor during panning */
}

#version {
    position: fixed;
    bottom: 10px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-size: small;
    z-index: 1000;
}
